<html xmlns:th="http:www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate.html">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/button.css}" />
	<!--<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/ABstyle.css}" /> -->
	<title>About Page</title>
	<link rel="icon" href="/images/pokemon-4657023_960_720.png" type="image/x-icon">
</head>

<!--Place holder page for future implementation-->

<body>
	<div layout:fragment="content">
		<div class="container" align="center">
			<h2 th:text="${message}">This is my default text</h2><br />
			<img width="220px" height="70px" th:src="@{/images/PokemonSymbol.jpg}" /><br /><br />
			<h2>Pokemon Card Book was created to be a convenient option to add to your portfolio for keeping track
			of exactly what Pokemon cards are in your collection. This application will solve all of those annoying 
			struggles of having to pull out your perfect cards from their storage spaces while still being able to show
			your best friends what cards are in your collection.</h2>
		</div>
	</div>
</body>

</html>